<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ben.study.codeduan1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icons"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeDuAn1">
        <activity android:name="ben.study.danh_sach_san_pham.DanhSachSanPhamTrongKho"></activity>
        <activity android:name="ben.study.danh_sach_san_pham.DanhSachSanPham" />
        <activity android:name="ben.study.thong_ke.ThongKe" />
        <activity android:name="ben.study.hoa_don.Them_Sua_HoaDon" />
        <activity android:name="ben.study.hoa_don.HoaDon" />
        <activity android:name="ben.study.theLoai.ThemSua_TheLoai" />
        <activity android:name="ben.study.theLoai.TheLoaiScreen" />
        <activity android:name=".Kho" />
        <activity android:name="ben.study.main_Activity.Manhinhchao">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name="ben.study.main_Activity.MainActivity" />
    </application>

</manifest>